html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code, h1, h2, h3, h4, h5, h6,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  background: #fdfdfd; }

img {
  display: block;
  max-width: 100%;
  border: none; }

p {
  margin: 0;
  font-size: 16px;
  line-height: 24px; }
  p + p {
    margin-top: 10px; }

.container {
  position: relative; }
  @media only screen and (min-width: 600px) {
    .container {
      width: 85% !important; } }

.col {
  transition: 1s ease-in-out; }

.row {
  margin-bottom: 0; }

h4 {
  font-size: 28px; }

input:focus, textarea:focus {
  border-bottom: 1px solid #818ce6 !important;
  box-shadow: 0 1px 0 0 #818ce6 !important; }

input:focus + label, textarea:focus + label {
  color: #818ce6 !important; }

.btn {
  background: #5a68e2; }
  .btn:hover {
    background: #4753b7; }

ul.pagination {
  margin: 20px 0; }
  ul.pagination .active {
    background: #818ce6; }
  ul.pagination a:focus {
    background: #818ce6;
    color: #fff; }

.header-top .topbar .left-box i.material-icons {
  padding: 5px;
  margin-right: 5px;
  color: #fff;
  font-size: 16px;
  vertical-align: middle;
  display: inline-block;
  background: #818ce6;
  cursor: default; }
.header-top .topbar .left-box span {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  color: #939393;
  transition: 0.5s; }
  @media (max-width: 700px) {
    .header-top .topbar .left-box span {
      display: none; } }
  @media (max-width: 530px) {
    .header-top .topbar .left-box span {
      position: absolute;
      top: 110%;
      left: 0;
      width: 230px;
      background: #000;
      color: #fff;
      padding: 10px;
      z-index: 999; } }
.header-top .topbar .left-box ul li {
  float: left;
  position: relative;
  padding: 7px 20px;
  border-left: 1px solid #e1e1e1; }
  .header-top .topbar .left-box ul li:first-child {
    border: 0;
    padding-left: 0; }
  @media (max-width: 700px) {
    .header-top .topbar .left-box ul li:hover {
      transition: 0.5s; }
      .header-top .topbar .left-box ul li:hover span {
        display: inline-block; } }
.header-top .topbar-social li {
  width: 35px;
  border-right: 1px solid #e1e1e1; }
  .header-top .topbar-social li:last-child {
    border: none; }
  .header-top .topbar-social li a {
    display: block;
    text-align: center;
    font-size: 18px;
    height: 100%;
    line-height: 40px;
    transition: background 1s, color .7s; }
  .header-top .topbar-social li a.facebook {
    background-color: #3D5A99;
    color: #fff; }
  .header-top .topbar-social li .twitter:hover {
    background-color: #0084b4;
    color: #fff; }
  .header-top .topbar-social li .instagram:hover {
    background-color: #fb3958;
    color: #fff; }
  .header-top .topbar-social li .gplus:hover {
    background-color: #d34836;
    color: #fff; }

header {
  padding: 20px 0; }
  header .logo {
    display: inline-block;
    vertical-align: middle; }

.clockdate-wrapper {
  text-align: right;
  margin-top: 5%;
  margin-right: 30px; }
  @media (max-width: 601px) {
    .clockdate-wrapper {
      float: none;
      text-align: left;
      margin-top: 2%; } }
  @media (max-width: 990px) {
    .clockdate-wrapper {
      margin-right: 0; } }

#clock {
  font-family: sans-serif;
  font-size: 20px;
  text-shadow: 0px 0px 1px #fff;
  color: #333; }

#clock span {
  color: #555;
  font-size: 12px;
  position: relative;
  top: -10px;
  left: 0; }

#date {
  font-size: 14px;
  font-family: arial,sans-serif;
  font-weight: bold;
  color: #333; }

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  height: 56px;
  line-height: 56px; }

nav.main-nav {
  background: #5a68e2; }
  nav.main-nav i.right {
    margin-left: 5px; }
  nav.main-nav a {
    font-size: 16px;
    padding: 0 12px; }
    nav.main-nav a i {
      margin-right: -5px; }
  nav.main-nav ul > li > a.active {
    background-color: rgba(0, 0, 0, 0.1); }
  nav.main-nav .button-collapse {
    margin: 0; }
    nav.main-nav .button-collapse i {
      font-size: 30px; }

.dropdown-content {
  overflow-y: visible;
  min-width: 200px; }
  .dropdown-content li > a > i {
    line-height: initial !important;
    height: initial !important;
    margin-right: 0 !important;
    margin-left: 10px !important; }
  .dropdown-content li {
    min-height: auto; }
    .dropdown-content li > a {
      color: #818ce6;
      height: 45px !important;
      line-height: 45px !important;
      padding: 0 12px;
      font-size: 14px; }
      .dropdown-content li > a:hover {
        background: #818ce6;
        color: #fff; }
      .dropdown-content li > a.dropdown-button.active {
        background: #818ce6 !important;
        color: #fff !important; }

.dropdown-content .dropdown-content {
  margin-left: 100%; }

.side-nav {
  overflow-y: visible; }
  .side-nav .logo {
    display: block;
    padding: 10px; }
    .side-nav .logo:hover {
      background: transparent; }
  .side-nav a.logo {
    height: auto; }
  .side-nav ul a {
    color: #5a68e2; }
    .side-nav ul a i {
      color: #5a68e2 !important;
      float: none !important;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px !important; }
    .side-nav ul a:hover {
      background: #818ce6 !important;
      color: #fff !important; }
      .side-nav ul a:hover i {
        color: #fff !important; }
    .side-nav ul a.active {
      background: #818ce6 !important;
      color: #fff; }
      .side-nav ul a.active i {
        color: #fff !important; }
  .side-nav .dropdown-content {
    left: 10px !important; }

nav.breadcrumb-nav {
  background: transparent;
  height: 45px;
  line-height: 45px;
  box-shadow: none;
  border-bottom: 1px solid #009DE2;
  border-top: 1px solid #009DE2;
  margin-bottom: 40px; }
  nav.breadcrumb-nav .breadcrumb {
    font-size: 16px;
    color: #999; }
    nav.breadcrumb-nav .breadcrumb:last-child {
      color: #333; }
    nav.breadcrumb-nav .breadcrumb:before {
      color: #999;
      margin: 0; }
  nav.breadcrumb-nav a.breadcrumb:hover {
    text-decoration: underline; }

.slider {
  height: 60vh !important;
  overflow: hidden;
  margin-bottom: 20px; }
  .slider .slider-navigation {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -7vh;
    z-index: 2; }
    .slider .slider-navigation i {
      font-size: 12vh;
      color: #e1e1e1;
      transition: 0.5s; }
      .slider .slider-navigation i:hover {
        color: #fff; }
    .slider .slider-navigation .prev {
      position: absolute;
      left: 0;
      top: 0; }
    .slider .slider-navigation .next {
      position: absolute;
      right: 0;
      top: 0; }
  .slider .indicators {
    z-index: 2;
    bottom: 10px; }
    .slider .indicators .indicator-item {
      height: 2.3vh;
      width: 2.3vh;
      margin: 0 1vh; }
    .slider .indicators .indicator-item.active {
      background-color: #818ce6; }

.about {
  padding: 20px 0; }
  .about p a {
    font-size: 16px; }
  .about h4 {
    margin-bottom: 10px; }
  .about .right-col .row {
    padding-left: 20px; }
    @media only screen and (max-width: 900px) {
      .about .right-col .row {
        padding-left: 5px; } }
    @media only screen and (max-width: 601px) {
      .about .right-col .row {
        padding-left: 0;
        margin-top: 20px; } }
  .about ul {
    margin-top: 5px; }
    .about ul li {
      margin-top: 5px;
      font-weight: bold; }
      .about ul li span {
        font-weight: normal; }
  .about .about-content-section {
    margin-top: 20px; }
    .about .about-content-section ul {
      margin-top: 15px; }
      .about .about-content-section ul li {
        margin-top: 10px; }

.our-team {
  padding: 40px 0; }
  .our-team .team-list {
    margin-top: 20px; }
    .our-team .team-list .col {
      margin-bottom: 20px; }
  .our-team .card {
    margin: 0;
    padding: 20px !important;
    box-shadow: none;
    border: 1px solid #f5f5f5; }
    .our-team .card .card-content {
      padding: 0 0 0 20px; }
  .our-team .first .card-image {
    max-width: 30%;
    display: inline-block;
    vertical-align: top; }
  .our-team .first .card-stacked {
    display: inline-block;
    vertical-align: top;
    max-width: 68%; }
  @media (min-width: 601px) and (max-width: 990px) {
    .our-team .first .card-image {
      max-width: 40%;
      display: block;
      text-align: center;
      margin: 0 auto; }
    .our-team .first .card-stacked {
      display: block;
      max-width: 100%;
      margin-top: 10px;
      text-align: center; } }
  .our-team .circle {
    border-radius: 50% !important; }
  .our-team .team-name {
    margin-bottom: 5px !important; }
    .our-team .team-name h5 {
      font-size: 18px; }
  .our-team .team-desc p {
    font-size: 14px; }
  .our-team .second {
    margin-top: 20px; }
    .our-team .second .card-image {
      margin: 0 auto;
      max-width: 60%; }
      .our-team .second .card-image img {
        border-radius: 5px; }
    .our-team .second .card-content {
      padding: 0; }
    .our-team .second .team-name {
      margin-top: 8px !important; }
      .our-team .second .team-name h5 {
        font-size: 13px;
        text-align: center;
        font-weight: bold;
        line-height: 18px; }
    @media (max-width: 900px) {
      .our-team .second .col {
        width: 50%; }
      .our-team .second .card-image {
        max-width: 40%; } }
    @media (max-width: 601px) {
      .our-team .second .card-image {
        max-width: 60%; } }

.service {
  padding: 20px 0; }
  .service.service-page {
    margin-top: 20px; }
  .service h4 {
    margin-bottom: 20px; }
  .service h5 {
    font-size: 22px;
    line-height: 26px; }
    @media (max-width: 820px) {
      .service h5 {
        font-size: 20px; } }
  .service .card {
    margin: 0;
    padding: 8px !important;
    box-shadow: none;
    border: 1px solid #f5f5f5; }
    .service .card .card-image {
      width: 50px;
      margin: 0 auto; }
    .service .card .card-content {
      padding: 10px; }
    .service .card p {
      text-align: center; }
  .service .service-list:hover .card {
    box-shadow: none;
    transition: 1s;
    border: 1px solid transparent; }
  .service .icon-block {
    display: block;
    color: rgba(0, 0, 0, 0.87); }
    .service .icon-block .material-icons {
      font-size: inherit; }
  .service .service-row {
    margin-bottom: 20px; }
  @media (max-width: 601px) {
    .service .service-list {
      margin-bottom: 20px; } }

.service-detail .service-title {
  margin-bottom: 15px;
  font-size: 28px;
  line-height: 32px; }
.service-detail p {
  padding-right: 20px; }
  @media (max-width: 601px) {
    .service-detail p {
      padding-right: 0; } }
.service-detail ul {
  margin-top: 10px; }
  .service-detail ul li {
    margin-top: 8px;
    padding-left: 25px; }
    .service-detail ul li:before {
      content: '\f192';
      font-family: fontawesome;
      position: absolute;
      left: 0;
      font-size: 14px; }

@media only screen and (max-width: 601px) {
  .service-more-col, .publication .service-more-col {
    margin-top: 20px; } }
.service-more-col h4, .publication .service-more-col h4 {
  margin-bottom: 15px; }
  .service-more-col h4 a, .publication .service-more-col h4 a {
    font-size: 26px;
    text-decoration: underline; }
.service-more-col h5.service-title {
  line-height: 24px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal; }
  .service-more-col h5.service-title a {
    display: block;
    padding: 0 0 0 20px;
    position: relative;
    color: #444;
    transition: 0.5s; }
    .service-more-col h5.service-title a:before {
      position: absolute;
      left: 0;
      top: 0;
      content: '\f061';
      font-family: fontawesome;
      transition: 0.5s;
      font-size: 14px; }
    .service-more-col h5.service-title a:hover {
      padding-left: 30px; }
      .service-more-col h5.service-title a:hover:before {
        left: 10px; }
.service-more-col .service-list {
  display: block;
  float: none;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  border-bottom: 1px solid #e1e1e1; }

.publication {
  padding: 20px 0; }
  .publication .publication-col .publication-list {
    padding-right: 20px;
    padding-top: 10px; }
    @media (max-width: 601px) {
      .publication .publication-col .publication-list {
        padding-right: 0; } }
    .publication .publication-col .publication-list li {
      border-bottom: 1px solid #f1f1f1;
      padding: 10px 0; }
      .publication .publication-col .publication-list li p {
        color: #666;
        transition: .5s ease-in-out;
        line-height: 24px;
        font-size: 17px;
        font-weight: normal;
        width: 78%;
        display: inline-block;
        vertical-align: middle; }
      .publication .publication-col .publication-list li a.list-command {
        width: 20%;
        color: #818ce6;
        font-size: 14px;
        text-decoration: underline;
        display: inline-block;
        vertical-align: middle;
        transition: 0.3s;
        text-align: right; }
        .publication .publication-col .publication-list li a.list-command:hover {
          margin-left: 1%; }

.news-section {
  padding-top: 20px; }
  .news-section h4 {
    margin-bottom: 15px; }
  .news-section .col.news-list {
    display: block;
    float: none;
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #e1e1e1; }
    .news-section .col.news-list:last-child {
      padding-bottom: 0;
      border: none; }
      @media (max-width: 601px) {
        .news-section .col.news-list:last-child {
          padding-bottom: 15px; } }
    .news-section .col.news-list .news-image {
      vertical-align: top;
      display: inline-block;
      padding-right: 10px;
      width: 25%; }
      .news-section .col.news-list .news-image + .news-stacked {
        display: inline-block;
        width: 74%;
        vertical-align: top; }
        .news-section .col.news-list .news-image + .news-stacked h5 {
          margin-top: -5px; }
      @media (min-width: 601px) and (max-width: 770px) {
        .news-section .col.news-list .news-image {
          margin-bottom: 10px;
          width: 40%; } }
      @media (max-width: 480px) {
        .news-section .col.news-list .news-image {
          margin-bottom: 10px;
          width: 40%; } }
  @media only screen and (max-width: 601px) {
    .news-section .social-col {
      margin-top: 20px; } }
  .news-section h5.news-title a {
    display: block;
    position: relative;
    padding: 0 0 5px 0;
    color: #444;
    font-size: 20px;
    text-decoration: underline;
    font-weight: normal; }
    .news-section h5.news-title a:hover {
      color: #000; }
  .news-section .tags-row p {
    float: left;
    font-size: 14px;
    text-decoration: none;
    color: #777; }
    .news-section .tags-row p .fa {
      padding: 0 6px 0 0; }

.news-page {
  padding: 40px 0; }
  .news-page h4 {
    margin-bottom: 20px; }

.news-detail .tags-row {
  margin: 0 0 15px 0; }
  .news-detail .tags-row p {
    float: left;
    font-size: 16px; }
  .news-detail .tags-row .share {
    float: right; }
.news-detail .share > div {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  margin-left: 5px;
  color: #777; }
.news-detail h5.news-title {
  margin-bottom: 10px;
  line-height: 30px;
  font-size: 24px; }
.news-detail .news-content p {
  margin-top: 20px; }
  .news-detail .news-content p + p {
    margin-top: 10px; }
.news-detail .news-image {
  max-height: 300px;
  overflow: hidden; }
.news-detail .detail-col {
  padding-right: 20px; }
.news-detail .col.news-list {
  margin-bottom: 10px;
  padding-bottom: 10px; }
@media (max-width: 601px) {
  .news-detail .news-more-col {
    margin-top: 20px; } }
.news-detail .news-more-col h4 {
  margin-bottom: 15px; }
  .news-detail .news-more-col h4 a {
    font-size: 26px;
    text-decoration: underline; }
.news-detail .news-more-col h5.news-title {
  line-height: 22px;
  margin-bottom: 0; }
  .news-detail .news-more-col h5.news-title a {
    font-size: 16px; }
.news-detail ul {
  margin-top: 10px; }
  .news-detail ul li {
    margin-top: 8px;
    padding-left: 25px; }
    .news-detail ul li:before {
      content: '\f192';
      font-family: fontawesome;
      position: absolute;
      left: 0;
      font-size: 14px; }

footer {
  margin-top: 20px;
  padding: 0 !important;
  background: #5a68e2 !important;
  color: #fff; }
  @media (max-width: 601px) {
    footer {
      margin-top: 30px; } }
  footer > .container {
    padding: 0 0 30px 0; }
  footer .container > .row > .col {
    padding-top: 30px; }
  footer h5 {
    margin-bottom: 10px;
    font-size: 24px; }
    footer h5 + p {
      padding-right: 5px; }
  footer p {
    font-size: 15px;
    line-height: 22px; }
  footer p + p {
    margin-top: 5px; }
  footer a {
    text-decoration: underline;
    font-size: 16px; }
  footer ul li {
    margin-bottom: 5px; }
  @media (min-width: 601px) and (max-width: 910px) {
    footer ul.col {
      width: 100% !important; } }
  footer .footer-copyright {
    font-size: 13px; }
    footer .footer-copyright a {
      font-size: 13px;
      text-decoration: underline; }
    @media (max-width: 850px) {
      footer .footer-copyright {
        text-align: center; }
        footer .footer-copyright span {
          display: block;
          float: none !important;
          text-align: center; }
        footer .footer-copyright a {
          float: none !important; } }

.contact {
  margin-top: 30px; }
  .contact.contact-page h4 {
    margin-bottom: 10px; }
  .contact.contact-page .row {
    margin-top: 20px; }

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important; }

.login {
  position: relative;
  top: -45px; }

.login > div {
  position: absolute;
  right: 0; }
  .login > div .login-btn.btn {
    float: left;
    background: #fff;
    color: #818ce6;
    padding: 0 7px;
    border-radius: 0;
    -ms-transform: rotate(270deg);
    /* IE 9 */
    -webkit-transform: rotate(270deg);
    /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    visibility: visible;
    z-index: 9999;
    position: absolute;
    right: -8px;
    top: -9px;
    font-size: 16px;
    height: 50px; }
    .login > div .login-btn.btn:hover {
      background-color: #818ce6;
      color: #fff; }
  .login > div .card {
    float: left;
    margin: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: -10px;
    right: 0;
    z-index: 99999; }
  .login > div .title {
    position: relative;
    z-index: 1;
    border-left: 7px solid #818ce6;
    margin: 0 0 20px 0;
    padding: 20px 0 10px 25px;
    color: #818ce6;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase; }
  .login > div .row {
    margin: 0 30px 20px 30px; }
  .login > div input {
    outline: none;
    background: none;
    width: 100%;
    color: #212121;
    font-size: 24px;
    font-weight: 400; }
  .login > div button {
    outline: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: 0;
    border: 2px solid #e3e3e3;
    padding: 8px 10px;
    font-size: 16px;
    line-height: 1;
    overflow: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    margin-bottom: 20px; }
    .login > div button:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      background: #818ce6;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      margin: -5px 0 0 -6px;
      opacity: 0;
      -webkit-transition: .3s ease;
      transition: .3s ease; }
    .login > div button span {
      position: relative;
      z-index: 1;
      color: #ddd;
      -webkit-transition: .3s ease;
      transition: .3s ease; }
    .login > div button:hover {
      border-color: #818ce6; }
      .login > div button:hover span {
        color: #818ce6; }
    .login > div button:focus {
      border-color: #818ce6; }
      .login > div button:focus:before {
        opacity: 1;
        -webkit-transform: scale(10);
        transform: scale(10); }
      .login > div button:focus span {
        color: #fff; }

.login.open > div {
  z-index: 9999; }
.login.open .login-btn.btn {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  margin-right: 0; }
.login.open .card {
  width: 300px;
  opacity: 1;
  visibility: visible;
  overflow: hidden; }

.career {
  padding: 20px 0; }
  .career .career-list-col {
    padding-right: 30px; }
    @media (max-width: 601px) {
      .career .career-list-col {
        padding-right: 0;
        margin-bottom: 20px; } }
    .career .career-list-col h5 {
      font-size: 20px;
      margin-bottom: 10px; }
    .career .career-list-col p {
      font-size: 15.5px;
      line-height: 22px; }
  .career .why-join, .career .announcement {
    margin-top: 30px; }
  .career .career-list .career-details {
    border: 1px solid #f5f5f5;
    border-left: 5px solid #818ce6;
    border-radius: 0;
    background: #fff;
    box-shadow: none; }
  .career .career-list .career-head {
    margin-bottom: 5px;
    font-size: 18px; }
  .career .career-list .career-date span {
    font-size: 13px;
    color: #777;
    margin: 8px 20px 8px 0;
    display: inline-block; }
  .career .career-list .career-date .fa {
    padding-right: 6px; }
  .career .career-list .career-desc {
    overflow: hidden !important; }
    .career .career-list .career-desc p {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 10px; }
  .career .career-list .more, .career .career-list .less {
    display: inline-block;
    margin-top: 5px;
    text-decoration: underline; }
  .career .career-list p + p {
    margin-top: 0; }
  .career .career-list .qualification {
    margin-bottom: 10px; }
    .career .career-list .qualification li:not(.qualification-title) {
      margin-top: 5px;
      font-weight: bold;
      line-height: 18px;
      font-size: 13px;
      position: relative;
      padding-left: 20px; }
      .career .career-list .qualification li:not(.qualification-title):before {
        content: '\f111';
        font-family: fontawesome;
        position: absolute;
        left: 0;
        font-size: 8px; }

/*# sourceMappingURL=style.css.map */
